<p id="notice"><%= notice %></p>

<p>
  <strong>Video url:</strong>
  <%= @playlist.video_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @playlist.date %>
</p>

<%= link_to 'Edit', edit_dashboard_playlist_path(@playlist) %> |
<%= link_to 'Back', dashboard_playlists_path %>
