<p id="notice"><%= notice %></p>

<p>
  <strong>Video url:</strong>
  <%= @playlist.video_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>streamed_at:</strong>
  <%= @playlist.streamed_at %>
</p>

<p>
  <strong>published_at:</strong>
  <%= @playlist.published_at %>
</p>

<code id="songlists_show">
  <%= render 'dashboard/songlists/show/songlists', songlists: @songlists %>
</code>

<div id="songlists_edit">
</div>

<%= form_for(@songlist, url: dashboard_songlists_path, method: :post, remote: true) do |f| %>
  <%= render 'dashboard/songlists/form/form', songlist: @songlist, f: f %>
<% end %>

<%= link_to 'Edit', edit_dashboard_playlist_path(@playlist) %> |
<%= link_to 'Back', dashboard_playlists_path %>
