<% if singer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(singer.errors.count, "error") %> prohibited this singer from being saved:</h2>

    <ul>
    <% singer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <div class="label">
    <%= f.label "歌手：" %>
  </div>
  <div class="content">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "姓名" %> /
    <%= f.text_field :name_translation, class: "form-control input-lg", placeholder: "翻譯" %>
  </div>
</div>

<div class="actions">
  <%= f.submit "更新歌手", :class => "btn btn-primary" %>
</div>
