<p id="notice"><%= notice %></p>

<h1>Singers</h1>

<%= link_to 'New Singer', new_dashboard_singer_path %>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Name translation</th>
      <th>singer_songs_count</th>
      <th>composer_songs_count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @singers.each do |singer| %>
      <tr>
        <td><%= singer.name %></td>
        <td><%= singer.name_translation %></td>
        <td><%= singer.count_of_singer_songs %></td>
        <td><%= singer.count_of_composer_songs %></td>
        <td><%= link_to 'Show', dashboard_singer_path(singer) %></td>
        <td><%= link_to 'Edit', edit_dashboard_singer_path(singer) %></td>
        <td><%= link_to 'Destroy', dashboard_singer_path(singer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
