<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @singer.name %>
</p>

<p>
  <strong>Name translation:</strong>
  <%= @singer.name_translation %>
</p>

<p>
  <strong>Singer songs count</strong>
  <%= @singer.count_of_singer_songs %>
</p>

<p>
  <strong>Composer songs count</strong>
  <%= @singer.count_of_composer_songs %>
</p>

<% @singer.songs.each do |song| %>
  <p><%= link_to song.title, dashboard_song_path(song) %></p>
<% end %>

<%= link_to 'Edit', edit_dashboard_singer_path(@singer) %> |
<%= link_to 'Back', dashboard_singers_path %>
