<p id="notice"><%= notice %></p>

<h1>Songlists</h1>

<table>
  <thead>
    <tr>
      <th>Playlist</th>
      <th>Song</th>
      <th>Time</th>
      <th>Prefix</th>
      <th>Suffix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songlists.each do |songlist| %>
      <tr>
        <td><%= songlist.playlist.title if songlist.playlist %></td>
        <td><%= songlist.song.title if songlist.song %></td>
        <td><%= songlist.marker %></td>
        <td><%= songlist.prefix.content if songlist.prefix %></td>
        <td><%= songlist.suffix.content if songlist.suffix %></td>
        <td><%= link_to 'Show', dashboard_songlist_path(songlist) %></td>
        <td><%= link_to 'Edit', edit_dashboard_songlist_path(songlist) %></td>
        <td><%= link_to 'Destroy', dashboard_songlist_path(songlist), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Songlist', new_dashboard_songlist_path %>
