<% @songs.each do |song| %>
  <tr class="tr-wrapper">
    <td><code class="singer"><%= song.singer.name_with_translation %></code></td>
    <td>
      <code>
        <%= song.title_with_translation %>
        <span class="description"><%= song.supplement %></span>
      </code>
    </td>
    <td>
      <span class="icon-wrapper right pointer">
        <%= octicon "clippy", class: "icon", "data-clippy": song.name_all, "data-clippy-turbolinks": true  %>
      </span>
      <span class="icon-wrapper right pointer">
        <% unless song.lyric_url.blank? %>
          <%= link_to song.lyric_url, target: "_blank" do %>
            <%= svg "lyrics" %>
          <% end %>
        <% end %>
      </span>
      <span class="icon-wrapper right pointer">
        <% unless song.video_url.blank? %>
          <%= link_to song.video_url, target: "_blank" do %>
            <%= svg "youtube" %>
          <% end %>
        <% end %>
      </span>
    </td>
  </tr>
<% end %>
