<% content_for :video do %>
  <div class="video-wrapper">
    <% if @song.video_url =~ /youtube/ %>
      <iframe src="<%= @song.video_url.gsub("watch?v=", "v/") %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
    <% if @song.video_url =~ /nicovideo/ %>
      <script src="<%= "http://ext.nicovideo.jp/thumb_watch/" + @song.video_url.split("/").last %>" type="text/javascript"></script>
    <% end %>
  </div>
<% end %>

<h1>
  <%= @song.name_all %>
  <% if dashboard? %>
    <%= hint_tag "編輯", nil, class: "icon-wrapper large" do %>
      <%= link_to octicon("pencil"), edit_dashboard_song_path(@song) %>
    <% end %>
  <% end %>
</h1>

<p>
  <strong>歌手:</strong>
  <%= link_to @song.singer.name_with_translation, dashboard_singer_path(@song.singer) if @song.singer %>
</p>

<p>
  <strong>作曲:</strong>
  <%= link_to @song.composer.name_with_translation, dashboard_singer_path(@song.composer) if @song.composer %>
</p>

<p>
  <strong>補充:</strong>
  <%= @song.description %>
</p>

<p>
  <strong>歌詞連結:</strong>
  <%= @song.lyric_url %>
</p>

<p>
  <strong>影片連結:</strong>
  <%= @song.video_url %>
</p>

<p>
  <strong>歌詞:</strong>
  <pre><%= @song.lyric %></pre>
</p>
