<p id="notice"><%= notice %></p>

<h1>songinfos</h1>

<table>
  <thead>
    <tr>
      <th>Playlist</th>
      <th>Song</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songinfos.each do |songinfo| %>
      <tr>
        <td><%= songinfo.content %></td>
        <td><%= link_to 'Show', dashboard_songinfo_path(songinfo) %></td>
        <td><%= link_to 'Edit', edit_dashboard_songinfo_path(songinfo) %></td>
        <td><%= link_to 'Destroy', dashboard_songinfo_path(songinfo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard songinfo', new_dashboard_songinfo_path %>
