<h1>Dashboard Songs</h1>

<%= link_to 'New Song', new_dashboard_song_path %>

<br>

<%= form_tag songs_path, method: :get, id: "songs_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
  <div id="songs">
    <%= render "home/songs/form/form_search" %>
  </div>
<% end %>
