<p id="notice"><%= notice %></p>

<%= content_for :search_bar do %>
  <%= render partial: "dashboard/songs/features/search_bar" %>
<% end %>

<header>
  <h1>
    <span id="songs_count"><%= @songs.count %></span>
    首
  </h1>
</header>

<div id="songs">
  <%= render "dashboard/songs/form/form_search" %>
</div>
