<% if @song.video_url.present? %>
  <div class="video-wrapper">
    <iframe style="max-width: 100%; max-height: 100%" src="<%= @song.video_url.gsub("watch?v=", "v/") %>" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>

<p>
  <strong>Singer:</strong>
  <%= link_to @song.singer.name, dashboard_singer_path(@song.singer) if @song.singer %>
</p>

<p>
  <strong>Composer:</strong>
  <%= link_to @song.composer.name, dashboard_singer_path(@song.composer) if @song.composer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Title translation:</strong>
  <%= @song.title_translation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @song.description %>
</p>

<p>
  <strong>Lyric url:</strong>
  <%= @song.lyric_url %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @song.video_url %>
</p>
