<% if song.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

    <ul>
    <% song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.fields_for :singer do |ff| %>
  <div class="field">
    <div class="label">
      <%= ff.label "歌手：" %>
    </div>
    <div class="content input-half">
      <%= ff.text_field :name, class: "form-control input-lg", placeholder: "歌手" %> /
      <%= ff.text_field :name_translation, class: "form-control input-lg", placeholder: "翻譯" %>
    </div>
  </div>
<% end %>

<div class="field">
  <div class="label">
    <%= f.label "歌名：" %>
  </div>
  <div class="content input-half">
    <%= f.text_field :title, class: "form-control input-lg", placeholder: "歌名" %> /
    <%= f.text_field :title_translation, class: "form-control input-lg", placeholder: "翻譯" %>
  </div>
</div>

<%= f.fields_for :composer do |ff| %>
  <div class="field">
    <div class="label">
      <%= ff.label "作曲：" %>
    </div>
    <div class="content input-half">
      <%= ff.text_field :name, class: "form-control input-lg", placeholder: "作曲" %> /
      <%= ff.text_field :name_translation, class: "form-control input-lg", placeholder: "翻譯" %>
    </div>
  </div>
<% end %>

<div class="field">
  <div class="label">
    <%= f.label "補充：" %>
  </div>
  <div class="content input-full">
    <%= f.text_field :description, class: "form-control input-lg" %>
  </div>
</div>

<div class="field">
  <div class="label">
    <%= f.label "歌詞連結：" %>
  </div>
  <div class="content input-full">
    <%= f.text_field :lyric_url, class: "form-control input-lg" %>
  </div>
</div>

<div class="field">
  <div class="label">
    <%= f.label "Youtube連結：" %>
  </div>
  <div class="content input-full">
    <%= f.text_field :video_url, class: "form-control input-lg" %>
  </div>
</div>

<div class="actions">
  <%= f.submit '更新歌曲', :class => "btn btn-primary" %>
</div>
