<% if song.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

    <ul>
    <% song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.fields_for :singer do |ff| %>
  <div class="field">
    <%= ff.label :name %>
    <%= ff.text_field :name %>
  </div>
<% end %>

<%= f.fields_for :composer do |ff| %>
  <div class="field">
    <%= ff.label :name %>
    <%= ff.text_field :name %>
  </div>
<% end %>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :title_translation %>
  <%= f.text_field :title_translation %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :cover %>
  <%= f.text_field :cover %>
</div>

<div class="field">
  <%= f.label :feat %>
  <%= f.text_field :feat %>
</div>

<div class="field">
  <%= f.label :lyric_url %>
  <%= f.text_field :lyric_url %>
</div>

<div class="field">
  <%= f.label :video_url %>
  <%= f.text_field :video_url %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
