<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: "layouts/smartlook" %>
  </head>

  <body>
    <%= render partial: "features/search_bar" %>

    <div class="main">
      <% if notice %>
        <div class="flash">
          <div class="container">
            <%= notice %>
          </div>
        </div>
      <% end %>

      <%= yield :video %>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
